.sconsign.dblite
config.log
.sconf_temp
*.dylib
*.o
*.os
*.so
*.cfgc
*.pyc
*_wrap.cc
*Lib.py
_build.*
doc/html
doc/xml
doc/doxygen.conf
doc/*.tag
doc/*.inc
tests/.tests
python/lsst/pex/exceptions/version.py
tests/Exception_1
tests/failer.py
